<p>players works!</p>

<div class="section-players">

<div *ngFor="let player of players" class="box-player">
 <div class="container-image-players">
 <img src={{player.image}} alt="perfil Jogador" class="image-players">
 </div>

 <div>
 <span class="name-players">
  {{player.name}}
 </span>
 <span class="role-players">{{player.role}}</span>
 <p class="team-players">{{player.team}}</p>
 </div>
</div>

</div>

<!-- <ul>
    <li *ngFor="let player of players">
       {{player.name}}
       <img src={{player.image}} alt="perfil Jogador" >
       <p>{{player.role}}</p>
       <p>{{player.team}}</p>
    </li>
</ul> -->