<div class="main-home">

<div class="test-overflow">
<div class="intro-home">
 <h3 class="title-lendas">Ilhas das Lendas</h3>
 <span class="sub-lendas">Sempre salvando o cenário</span>
</div>

<div class="container-button-home">
<button class="button-about">Sobre as Lendas</button>
</div>
</div>

<div class="container-image-home">
    <img src="assets/ilhateam.jpg" alta="Photo Lendas conjunto" class="image-home" >
</div>

<div class="box-title-home">
 <h4 class="title-home">Players</h4>
 <a routerLink="players">Saiba mais</a>
</div>

<div class="box-title-home">
 <h4 class="title-home">Times</h4>
 <a routerLink="teams">Saiba mais</a>
</div>
</div>
