<div class="main-footer">
  <div class="icons-footer">
   <ng-icon name="simpleTwitch" size="25" class="icon-unic"></ng-icon>
   <ng-icon name="simpleInstagram" size="25" class="icon-unic"></ng-icon>
   <ng-icon name="simpleYoutube" size="25" class="icon-unic"></ng-icon>
   <ng-icon name="simpleDiscord" size="25" class="icon-unic"></ng-icon>
   <ng-icon name="simpleTwitter" size="25" class="icon-unic"></ng-icon>
   <ng-icon name="simpleTiktok" size="25" class="icon-unic"></ng-icon>
  </div>

   <!--<div class="container-text-footer">
    <span class="text-footer">Ilha das Lendas</span>
   </div>-->
</div>
